.Homebtn a {
text-decoration: none;
color: #EEEEEE;
background-color: #14073e;
padding: 10px 10px;
border-radius: 0px 20px 20px 20px;

}
.Homebtn img {
  display: inline-block;
  padding: 5px 30px;
  border-right: 3px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.Homebtn :hover {
  color: red;
  background-color: rgb(71, 39, 164);
  border-radius: 40px;
  text-decoration: none;
}
.body{
  margin: 0;
  font-family: "Noto Sans", serif;

}
.card-info {
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: #eeeeee;
  width: fit-content;
  border-radius: 30px;
}
.card img {
  border-radius: 30px 30px 0px 0px;
}

.card-name {
  margin-right: 0;
  padding: 0px 10px;
}

.leaders-cards {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  gap: 100px;
}
body {
  margin: 0;
  font-family: "Noto Sans", serif;
  background-color: rgb(7, 66, 138);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  color: rgb(255, 255, 255);
  background-color: #14073e;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  margin: 0%;
}
